.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.logo-align{
   position: relative;
   top:170px;
   display: flex;
   justify-content: center;

}
